<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nifty.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/demo/nifty-demo.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/c3.css') }}">

<style media="screen">
.fade {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;

}

.color-palette {
  display: inline-block;
  width: 34px;
  height: 17px;
  background: red;
  margin-right: -4px;
  color: #ffffff;
}

.parallelogram{
  padding: 0 63px;
	-webkit-transform: skew(-45deg);
	   -moz-transform: skew(-45deg);
	     -o-transform: skew(-45deg);
  opacity: 0.7;
}

.parallelogram center {
	-webkit-transform: skew(45deg);
	   -moz-transform: skew(45deg);
	     -o-transform: skew(45deg);
}


</style>
