<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SmartEnergy Dashboard</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
  {% include 'css.html' %}
  {% include 'js.html' %}
</head>
<body>
  <div id="container" class="effect mainnav-out">
    <header id="navbar">
      <div id="navbar-container" class="boxed">
        <div class="navbar-header">
          <div class="brand-title">
            <span class="brand-text">SmartEnergy Dashboard</span>
          </div>
        </div>
        <div class="navbar-content clearfix">
        </div>
      </div>
    </header>
    <div class="boxed">
      <div id="content-container">
        <div id="page-content">
          <div class="row">
            <div class="col-lg-12">

              <div class="panel">
                <div class="panel-heading">
                  <h3 class="panel-title">Server Room Status</h3>
                </div>

                <div class="panel-body">

                  <div class="col-lg-7 pad-no mar-btm">
                    <p class="text-muted"><i class="glyphicon glyphicon glyphicon-menu-right text-sm"></i> Temparature/Humidity in Each Sector</p>

                    <div class="pad-btm">
                      <div class="color-palette text-center"><span>15°C</span></div>
                      <div class="color-palette">&nbsp;</div>
                      <div class="color-palette">&nbsp;</div>
                      <div class="color-palette">&nbsp;</div>
                      <div class="color-palette">&nbsp;</div>
                      <div class="color-palette">&nbsp;</div>
                      <div class="color-palette">&nbsp;</div>
                      <div class="color-palette">&nbsp;</div>
                      <div class="color-palette">&nbsp;</div>
                      <div class="color-palette text-center"><span>35°C</span></div>
                    </div>
                    <div class="row mar-no pad-btm parallelogram">

                      {% for info in temp %}
                      <div class="col-xs-4 pad-no">
                        <div class="panel panel-success panel-colorful mar-no server-room pad-all">

                          <script type="text/javascript">
                          colorPalette({{ loop.index-1 }}, {{ info.temperature }});
                          </script>

                            <center>
                              <span class="text-bold server-room-temp">{{ info.temperature }}</span><span class="text-bold">℃</span><br>
                              <i class="glyphicon glyphicon-tint"></i><span class="text-bold server-room-hum">{{ info.humidity }}</span>
                          </div>
                        </div>
                        {% endfor %}
                      </div>

                      <div class="mar-top" style="padding-right:90px">
                        <img class="img-responsive mar-btm" src="{{ url_for('static', filename='server-1f.png') }}" alt="server room">
                      </div>

                      <br>
                      <br>

                      <div class="row mar-no pad-btm">
                        <p class="text-muted"><i class="glyphicon glyphicon glyphicon-menu-right text-sm"></i> Control Panel for Airconditioner</p>
                        <div class="col-xs-6 col-sm-6 pad-no pad-rgt">
                          <div class="panel panel-bordered-primary pad-all">
                            <p>Airconditioner 1</p>
                            <div class="btn-group">
                              <button class="btn btn-default panel-bordered-primary"><span class="control-temp text-primary text-bold pad-hor">{{ air_temp_1 }}°C</span></button>
                              <button class="btn btn-default panel-bordered-primary" type="button" onclick="control('1', 1)"><i class="glyphicon glyphicon-chevron-up text-primary"></i></button>
                              <button class="btn btn-default panel-bordered-primary" type="button" onclick="control('1', -1)"><i class="glyphicon glyphicon-chevron-down text-primary"></i></button>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 pad-no pad-rgt">
                          <div class="panel panel-bordered-primary pad-all">
                            <p>Airconditioner 2</p>
                            <div class="btn-group">
                              <button class="btn btn-default panel-bordered-primary"><span class="control-temp text-primary text-bold pad-hor">{{ air_temp_2 }}°C</span></button>
                              <button class="btn btn-default panel-bordered-primary" type="button" onclick="control('2', 1)"><i class="glyphicon glyphicon-chevron-up text-primary"></i></button>
                              <button class="btn btn-default panel-bordered-primary" type="button" onclick="control('2', -1)"><i class="glyphicon glyphicon-chevron-down text-primary"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-offset-2 col-lg-3 pad-no">
                      <p class="text-muted"><i class="glyphicon glyphicon glyphicon-menu-right text-sm"></i> Average Figure</p>
                      <div id="temp-chart"></div>
                      <div id="hum-chart"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Server Rack Status</h3>
                  </div>
                  <div class="panel-body">
                    <div class="col-lg-9 pad-no">
                      <div class="col-md-6">
                        <p class="text-muted"><i class="glyphicon glyphicon glyphicon-menu-right text-sm"></i> Servers : rpis</p>
                        <div class="row mar-no">
                          <div class="table-responsive">
                            <table class="table table-bordered">
                              <tbody>
                              {% for info in resource %}
                                <tr>
                                  <td class="text-center">{{ info.deviceId }}</td>
                                  <td>
                                    <div class="col-xs-4">
                                      <span class="label label-danger">CPU</span><span class="mar-hor server-rack-cpu">{{ info.cpu }}%</span>
                                    </div>
                                    <div class="col-xs-4">
                                      <span class="label label-info">MEM</span><span class="mar-hor server-rack-mem">{{ (info.memory/1000)|round(1, 'floor') }}MiB</span>
                                    </div>
                                    <div class="col-xs-4">
                                      <span class="label label-dark">DISK</span><span class="mar-hor server-rack-disk">{{ info.disk }}%</span>
                                    </div>
                                  </td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <p class="text-muted"><i class="glyphicon glyphicon glyphicon-menu-right text-sm"></i> Average Figure</p>
                      <div id="cpu-chart"></div>
                      <div id="mem-chart"></div>
                      <div id="disk-chart"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer id="footer">
        <p class="pad-lft">&#0169; 2017 NetCS</p>
      </footer>
      <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
    </div>
</body>
</html>
