<script src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/nifty.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/rainbowvis.js') }}"></script>
<script src="{{ url_for('static', filename='js/c3.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.js') }}"></script>

{% include 'js_ui.html' %}
{% include 'js_chart.html' %}
{% include 'js_socketio.html' %}


<script type="text/javascript" charset="utf-8">

function control(id, action) {
  $.ajax({
    type: "POST",
    url: "/control",
    dataType: "json",
    data: {'id': id, 'action': action},
    success: function(data, status, request) {
      var temp = request.getResponseHeader("temperature");
      document.getElementsByClassName("control-temp")[parseInt(id)-1].innerHTML = temp + "°C";
    },
    error: function() {
      alert("Unexpected error");
    }
  });
}
</script>
