<script src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/nifty.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/rainbowvis.js') }}"></script>
<script src="{{ url_for('static', filename='js/c3.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.js') }}"></script>

{% include 'js_ui.html' %}
{% include 'js_chart.html' %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script type="text/javascript" charset="utf-8">

$(document).ready(function() {

  namespace = ''; //TODO Add it after complete control functions

  var socket = io.connect('http://' + document.domain + ':' + location.port);

  socket.on('connect', function() {
    socket.emit('my event', {data: 'I\'m connected!'});
  });

  socket.on('background_thread', function(msg) {
    temp = JSON.parse(msg.temp);

    for (i=0; i<temp.length; i++) {

      colorPalette(i, temp[i].temperature);
      updateTemp(i, temp[i].temperature, temp[i].humidity);
      console.log('temperature: ' + temp[i].temperature);
      console.log('humidity: ' + temp[i].humidity);
    }

  });

});

</script>
