<script type="text/javascript">

var startColor = '#2E9AFE';
var endColor = '#F78181'
var startTemp = 15;
var endTemp = 35;
var rainbow = new Rainbow();

rainbow.setSpectrum(startColor, endColor);
rainbow.setNumberRange(startTemp, endTemp);

function colorPalette(index, degree) {
  var color = rainbow.colourAt(degree);
  $(".server-room")[parseInt(index)].setAttribute("style", "background-color: #" + color + ";");
  return color;
};

function colorPaletteMatrix(rowIndex, colIndex, rowLength, degree) {
  var color = rainbow.colourAt(degree);
  index = (rowIndex - 1) * rowLength + colIndex - 1;
  $(".server-room")[parseInt(index)].setAttribute("style", "background-color: #" + color + ";");
  return color;
};

function updateTemp(index, temp, hum) {
  document.getElementsByClassName("server-room-temp")[parseInt(index)].innerHTML = temp;
  document.getElementsByClassName("server-room-hum")[parseInt(index)].innerHTML = hum;
};

function updateResource(index, cpu, mem, disk) {
  document.getElementsByClassName("server-rack-cpu")[parseInt(index)].innerHTML = cpu + '%';
  document.getElementsByClassName("server-rack-mem")[parseInt(index)].innerHTML = (mem/1000).toFixed(2) + 'MiB';
  document.getElementsByClassName("server-rack-disk")[parseInt(index)].innerHTML = disk + '%';
};

$(document).ready(function(){
  var weight = (endTemp-startTemp)/10;

  for(i=0; i<10; i++) {
    var color = rainbow.colourAt(startTemp+i*weight);
    $(".color-palette")[i].setAttribute("style", "background-color: #" + color + ";");
  }
});

</script>
